/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
-fx-background-color: darkgrey;
}

.btnTopMenu{
    -fx-font-size: 12;
    -fx-alignment: bottom-center;
    -fx-color: gainsboro;
    -fx-width: 100;
    -fx-background-radius: 0px;
    
}

.backgroundMenu{
    -fx-background-color: gainsboro;
}

.btnLeftMenu{
    -fx-font-size: 10;
    -fx-alignment: bottom-center;
    -fx-background-color: gainsboro;
    -fx-border-color:darkgrey;
    
}

.btnTimeLine{
    -fx-background-radius: 0px;
}

.play{
    -fx-font-size: 16;
}

.record{
     -fx-font-size: 16;
     -fx-font-color: red;
}