/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
-fx-background-color: darkgrey;
}

.background{
    -fx-background-color: gainsboro;
}

.paneScene{
    -fx-background-color: darkgrey;
}

.btnLeftMenu{
    -fx-font-size: 10;
    -fx-alignment: bottom-center;
    -fx-background-color: gainsboro;
    -fx-border-color:darkgrey;
    
}

.btnTimeLine{
    -fx-background-radius: 0px;
}

.btnRecord{
    -fx-color: red;
}